.monika-icon{
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 999;
	width: 200px;
	height: 200px;
	background-color: white;
	border: 1px solid gray;
	text-align: center;
	border-radius: 100%;
	transition: 0.3s;  
}
.monika-icon img{
	width: 95px;
	margin: 10px auto;
}
.img-1{
	display: block;
}
.img-2{
	display: none;
}
.img-3{
	display:block;
}
.monika-icon:hover .img-1{
	display: none;
}
.monika-icon:hover .img-2{
	display: block;
	width: 150px;
}
.monika-icon .icon-label{
	font-size: 18px;
	text-align: center;
	display: block;
	font-family: "Helvetica";
}
.monika-icon:hover{
	background-color: pink;
	cursor: pointer;
}
.frame{
	display: none;
	position: fixed;
	z-index: 999;
	top: 0px;
	right: 0px;
}